<!DOCTYPE html>

<html lang="en">
<head>
    <title>Class List: Edit</title>
    <meta charset="utf-8" />
</head>

<body>
    <form action="/class/api/edit" method="post">
        <div>
            <label for="studentName">Enter The Student's Name:</label>
            <input type="text" id="student" name="student">
            <label for="studentNameNew">Enter The NEW Name:</label>
            <input type="text" id="newstudent" name="newstudent">
        </div>

        <div class="button">
            <button type="submit">Edit</button>
        </div>
    </form>
</body>

</html>
